<!-- Slider Items -->
<li style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }});">
	<div class="overlay-gradient"></div>
	<div class="container">
		<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
			<div class="slider-text-inner">
				<h2>{{ content.field_title.0 }}</h2>
				{% if content.field_url.0|render is not empty %}
					<p><a href="{{ content.field_url[0]['#url']|render }}" class="btn btn-primary btn-lg">{{ content.field_url[0]['#title'] }}</a></p>
				{% endif %}
			</div>
		</div>
	</div>
</li>
<!-- Slider Items End-->



