<!-- Slider -->
<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
			{{ content.field_slider_items }}
	  	</ul>
  	</div>
</aside>
<!-- Slider End-->

